@model KuberMICManager.Client.WebUI.Pages.Loans.ViewLoanModel
@using static KuberMICManager.Core.Domain.Entities.Application.Common

<!-- Custom Fields Start -->
<section class="scroll-section loan_custom_fields">
    <h2 class="small-title">Custom Fields</h2>
    <div class="row">
        <div class="col-12 col-xl-6">
            <!-- BMO Start -->
            <div class="card mb-5">
                <div class="card-body">
                    <h2 class="small-title">BMO</h2>
                    <div class="dataTables_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-container">
                                    <table class="stripe dataTable">
                                        <thead>
                                            <tr role="row">
                                                <th class="text-muted text-medium text-uppercase" style="width:300px">NAME</th>
                                                <th class="text-muted text-medium text-uppercase">VALUE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int index = 0;}
                                            @foreach (var customField in Model.LoanViewModel.UDFFields.Where(f => f.TabRecId == BMOTabRecID).
                                                                                                       OrderBy(F => F.Sequence))
                                            {
                                                <tr role="row" class="@((index++ % 2 == 0) ? "odd" : "even")">
                                                    <td>@customField.Name</td>
                                                    <td>@Model.LoanViewModel.UDFValues.FirstOrDefault(V => V.ParentRecId == customField.RecId)?.Value</td>
                                                </tr>
                                            }
                                        </tbody>                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BMO End -->
        </div>
        <div class="col-12 col-xl-6">
            <!-- MI Start -->
            <div class="card mb-5">
                <div class="card-body">
                    <h2 class="small-title"> MI</h2>
                    <div class="dataTables_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-container">
                                    <table class="stripe dataTable">
                                        <thead>
                                            <tr role="row">
                                                <th class="text-muted text-medium text-uppercase" style="width:300px">NAME</th>
                                                <th class="text-muted text-medium text-uppercase">VALUE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{index = 0;}
                                            @foreach (var customField in Model.LoanViewModel.UDFFields.Where(f => f.TabRecId == MITabRecID).
                                                                                                       OrderBy(F => F.Sequence))
                                            {
                                                <tr role="row" class="@((index++ % 2 == 0) ? "odd" : "even")">
                                                    <td>@customField.Name</td>
                                                    <td>@Model.LoanViewModel.UDFValues.FirstOrDefault(V => V.ParentRecId == customField.RecId)?.Value</td>
                                                </tr>
                                            }
                                        </tbody>                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MI End -->
        </div>
    </div>
</section>
<!-- Custom Fields End -->