@page
@model KuberMICManager.Client.WebUI.Pages.Loans.ViewLoanModel
@{
    Dictionary<string, string> HtmlTagData = new Dictionary<string, string>() { };
    ViewBag.HtmlTagData = HtmlTagData;

    List<string> PageStyles = new List<string>()
    {
        "/css/vendor/datatables.min.css"
    };
    ViewBag.PageStyles = PageStyles;

    List<string> VendorScripts = new List<string>()
    {
        "/js/vendor/datatables.min.js",
    };
    ViewBag.VendorScripts = VendorScripts;

    List<string> PageScripts = new List<string>()
    {
        "/js/cs/datatable.extend.js",
        "/js/plugins/datatable.base.js",
        "/js/plugins/datatable.loan.history.js",
        "/js/plugins/datatable.attachments.js",
        "/js/site.js"
    };
    ViewBag.PageScripts = PageScripts;

    Dictionary<string, string> Breadcrumbs = new Dictionary<string, string>(){
        {"/dashboard","Home"},
        {"/loans/Index","Loans"}
    };
    ViewBag.Breadcrumbs = Breadcrumbs; 

    ViewData["Title"] = "Loan: " + @Model.LoanViewModel.Loan.Account + " - " + @Model.LoanViewModel.Loan.FullName;
    ViewBag.Description = "Loan: " + @Model.LoanViewModel.Loan.Account + " - " + @Model.LoanViewModel.Loan.FullName;
}

<div class="container">
    <div class="row">
        <!-- Title and Top Buttons Start -->
        <div class="page-title-container">
            <div class="row">
                <!-- Title Start -->
                <div class="col-12 col-md-7">
                    <h2 class="mb-2 pb-0 display-6" id="title">@ViewBag.Title</h2>
                    <partial name="_Layout.Breadcrumb"/>
                </div>
                <!-- Title End -->
                <div class="col-12 col-md-5 mt-4 text-end">
                    <a href="@GetReturnLink(Model.ReturnToPage)">
                        <i data-acorn-icon="arrow-double-left" class="icon ql-align-right text-small"></i>Back to List
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <!-- Title and Top Buttons End -->
    </div>

    <div class="row">
        <!-- Left Navigation Start -->
        <div class="col-12 col-xl-2 w-10">
            <!-- Menu Start -->
           <partial name="_Layout.SideNavLoanDetails"/>
            <!-- Menu End -->
       </div>
       <!-- Left Navigation End -->

       <!-- Content End -->
       <div class="col-12 col-xl-10 w-90">
            <!-- Page Content Start -->
            <form class="tooltip-end-top" method="post">
                <partial name="_Loan.Coborrowers" />
                <partial name="_Loan.Terms" />
                <partial name="_Loan.Funding" />
                <partial name="_Loan.Charges" />
                <partial name="_Loan.Properties" />
                <partial name="_Loan.History" />
                <partial name="_Loan.TrustLedger" />
                <partial name="_Loan.Attachments" />
                <partial name="_Loan.CustomFields" />
                <partial name="_Loan.Notes" />
            </form>
            <!-- Page Content End -->
        </div>
        <!-- Content End -->
    </div>

    <div class="row text-end">
        <a href="@GetReturnLink(Model.ReturnToPage)">
            <i data-acorn-icon="arrow-double-left" class="icon ql-align-right text-small"></i>Back to List
        </a>
    </div>
</div>
